%div.container
  %h1 Please log in
  =form_for(:session, url: '/login') do |f|
    = f.label :username
    = f.text_field :username, class: 'form-control'
    = f.label :password
    = f.password_field :password, class: 'form-control'
    = f.submit "log in", class: 'btn btn-primary'
    %a(href="/users/register") Register
