%p#notice= notice

%p
  %b Project:
  = @task.project.title
%p
  %b Description:
  = @task.description
%p
  %b Customer:
  = @task.project.customer.name

%p
  %b Time Worked:
  = @task.pretty_time

%table
  - @task_steps.each do |ts|
    %tr
      %td= ts.id
      %td= pretty_time(ts.started)
      %td= pretty_time(ts.stopped) if ts.stopped
      %td
        - if !ts.stopped
          = link_to 'Stop', stop_task_path(@task)
      %td= link_to 'edit', edit_task_step_path(ts)

= link_to 'Start', start_task_path(@task)
\|
= link_to 'Stop', stop_task_path(@task)
\|
= link_to 'Manual Add', new_task_step_path(task_id: @task.id)
\|
= link_to 'Edit', edit_task_path(@task)
\|
= link_to 'Back', tasks_path
