%p#notice= notice

%p
  %b Project:
  = @task.project_id
%p
  %b Description:
  = @task.description
%p
  %b Customer:
  = @task.customer_id

%p
  %b Time Worked:
  = @task.pretty_time

%table
  - @task_steps.each do |ts|
    %tr
      %td=ts.id
      %td=ts.started
      %td=ts.stopped
      %td
        - if !ts.stopped
          = link_to 'Stop', stop_task_path(@task)
      %td= link_to 'edit', edit_task_step_path(ts)

= link_to 'Start', start_task_path(@task)
\|
= link_to 'Stop', stop_task_path(@task)
\|
= link_to 'Manual Add', new_task_step_path(task_id: @task.id)
\|
= link_to 'Edit', edit_task_path(@task)
\|
= link_to 'Back', tasks_path
