%p#notice= notice

%p
  %b Customer:
  = @project.customer_id
%p
  %b Title:
  = @project.title

  %table
    %tr
      %th Task
      %th Time Worked
      %th User
    - @tasks.each do |task|
      %tr
        %td= task.description
        %td= task.pretty_time
        %td= task.user.username
    %tr
      %td Total Work Time
      %td= @project.pretty_total_time

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
