%div.navbar
  %span.nav-title CoverMyMeds Code Day
  = link_to 'Tasks', tasks_path, class: 'nav-link'
  = link_to 'Project', projects_path, class: 'nav-link'
  = link_to 'Customers', customers_path, class: 'nav-link'
  = link_to 'Users', users_path, class: 'nav-link'
  %div.nav-user
    - if logged_in?
      %span=current_user.username
      = link_to 'log out', { controller: :sessions, action: :destroy }, { method: :delete, class: 'nav-link' }
    - else
      = link_to 'log in', '/login', class: 'nav-link'

